<template>
	<div>
		Ahoj {{ text }}! <br>
		<span>Zpráva od věce: {{ message }}</span><br>
		<input v-model="text">
	</div>
</template>
<script lang="ts">
import {gql} from "apollo-boost"
export default {
	name: "Index",
	apollo: {
		message : {
			query: gql`{testMessage{message}}`,
			update: data=>data.testMessage.message
		}
	},
	data(){
		return {
			text: "Dane",
			message:""
		}
	},
}
</script>