<template>
	<div>
		<input v-model="username">
		<input
			v-model="password"
			type="password"
		>
		<button @click="tryLogin(username, password)">
			Login
		</button>
	</div>
</template>

<script lang="ts">
export default {
	name: "Login",
	data(){
		return{
			username: "",
			password: ""
		}
	},
	methods:{
		tryLogin(username, password){
			fetch("/api/auth/user",{
				method:"GET",
				headers:{
					Authorization: `Basic ${btoa(`${username}:${password}`)}`
				}
			}).then(e=>e.json().then(console.log))
		}
	}
}
</script>

<style scoped>

</style>